@import 'tailwindcss';

@theme {
  --color-lab-bg: #1e202e;
  --color-lab-surface: #1e293b;
  --color-lab-border: #334155;
  --color-lab-accent: #2563eb;

  --font-display: 'JetBrains Mono', monospace;
}

html {
  @apply scroll-pt-30 scroll-smooth;
}

body {
  background-color: var(--color-lab-bg);
  color: white;
  font-family: var(--font-display);
}

@layer components {
  /* 1. Standard Container (Used in Hero, Features, LatestArticles) */
  .lab-section {
    @apply mx-auto max-w-6xl px-6 py-20;
  }

  /* 2. Card Base Style (Used in ArticleCard & ArticleRow) */
  .lab-card {
    @apply bg-lab-surface cursor-pointer rounded-xl border border-slate-700/50 transition-all duration-300 hover:border-slate-600 hover:bg-slate-800 hover:shadow-xl;
  }

  /* 3. Icon Circle (The Red/Blue circle) */
  .lab-icon-circle {
    @apply flex h-8 w-8 items-center justify-center rounded-full text-xs font-bold text-white shadow-lg transition-transform duration-300 group-hover:scale-110;
  }

  /*buttons*/
  .lab-button {
    @apply cursor-pointer rounded border border-slate-600 px-8 py-3 font-mono text-sm text-slate-300 transition-all duration-300 hover:border-white hover:bg-white hover:text-black hover:shadow-2xl;
  }

  /* 4. Typography Tokens */
  .lab-badge {
    @apply font-mono text-xs font-bold tracking-wide uppercase;
  }

  .lab-h1 {
    @apply font-mono text-4xl leading-tight font-bold tracking-tighter text-white italic md:text-6xl;
  }

  /* Specific needs */
  /* Header, Dropdown Menu upon selection */
  .lab-header-dropdown-selection-btn {
    @apply border-l-2 border-transparent px-4 py-3 font-mono text-xs text-slate-400 transition-colors hover:border-blue-400 hover:bg-slate-800 hover:text-white;
  }
}

@layer utilities {
  .scrollbar-hide {
    .scrollbar-hide ::-webkit-scrollbar {
      display: none;
    }
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
